@import 'base/variables'
@import 'base/mixins'

.container
    max-width: 960px
    margin: 0 auto
*
    font-family: 'Museo Sans Cyrl'

@import 'blocks/main'
@import 'blocks/header.sass'
@import 'blocks/button.sass'
@import 'blocks/benefits.sass'